In [1]:
import pandas as pd
from joblib import Parallel, delayed
from api.preprocessing import *
from api.setting import Settings

In [2]:
df = pd.read_csv("../data/onlineHarassmentDataset.csv",sep='\t', engine='python')

In [3]:
df.shape

(20360, 13)

In [4]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20360 entries, 0 to 20359
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           20360 non-null  int64
 1   Code         20360 non-null  object
 2   Tweet        20360 non-null  object
 3   Unnamed: 3   0 non-null      float64
 4   Unnamed: 4   0 non-null      float64
 5   Unnamed: 5   0 non-null      float64
 6   Unnamed: 6   0 non-null      float64
 7   Unnamed: 7   0 non-null      float64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
dtypes: float64(10), int64(1), object(2)
memory usage: 2.0+ MB

In [5]:
to_drop = [0] + (list(range(3, 13)))
df.drop(df.columns[to_drop], axis=1, inplace=True)
df.shape

(20360, 2)

In [6]:
df.head()

  Code                                              Tweet
0    H  @Grumpy_P_Sloth @deanesmay feminists argue for...
1    H  1948Army of England helped the Jews to occupy ...
2    H  Dutch Leader Says Europe to collapse In 6 Week...
3    H  RT @__DeLay: The next day the Romans and the J...
4    H  RT @Bakersman_Joe: When Hitler Invited The Jew...

In [7]:
df['Code'] = df['Code'].apply(lambda x: str(x))
df['Tweet'] = df['Tweet'].apply(lambda x: str(x))

In [8]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20360 entries, 0 to 20359
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    20360 non-null  object
 1   Tweet   20360 non-null  object
dtypes: object(2)
memory usage: 318.2+ KB

In [9]:
df.to_csv("../data/onlineHarassment.csv",index = False, header=['annotation','text'])

In [2]:
df = pd.read_csv("../data/onlineHarassment.csv")

In [3]:
df.head()

  annotation                                               text
0          H  @Grumpy_P_Sloth @deanesmay feminists argue for...
1          H  1948Army of England helped the Jews to occupy ...
2          H  Dutch Leader Says Europe to collapse In 6 Week...
3          H  RT @__DeLay: The next day the Romans and the J...
4          H  RT @Bakersman_Joe: When Hitler Invited The Jew...

In [4]:
df.shape

(20360, 2)

In [6]:
df['annotation'].value_counts()

N    15075
H     5285
Name: annotation, dtype: int64